eln-cache
url
var
recentf
auto-save-list
elpa
.cache
.last-package-update-day
.lsp-session-v1
emojis
session.*
*~
#*#
opam-user-setup.el
.dap-breakpoints
org-roam.db
projectile-bookmarks.eld
transient
package-quickstart.elc
package-quickstart.el
elisp-autofmt-cache
#*#